<div class="row">
  <div class="col">
    <h1 class="bd-title">{{ user.nome }}</h1>
  </div>
</div>

<div class="row mt-sm-3">
  <div class="col">
      <p><small>ID</small><br>{{ user.id }}</p>
    <p><small>Cargo</small><br>{{ user.perfil }}</p>
    <p><small>CPF/CNPJ</small><br>{{ user.cpf }}</p>
    <p><small>Email</small><br>{{ user.email }}</p>
  </div>
  <div class="col">
    <p><small>Endereço</small><br>{{ user.endereco }}</p>
    <p><small>Situação</small><br>{{ user.status ? 'Ativo' : 'Inativo' }}</p>
  </div>
</div>

<div class="row mt-sm-3">
  <div class="col">
    <button class="btn btn-sm btn-outline-secondary mr-sm-2" (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Voltar
    </button>
    <button class="btn btn-sm btn-primary mr-sm-2" [routerLink]="['/users', user.id, 'edit']">
      <i class="fa fa-pencil"></i> Editar
    </button>
  </div>
</div>