<div style="width: 100%; background-color: #fff; height: 500px; margin-bottom: 20px;">
    <table class="table table-bordered table-hover-cells">
        <thead>
            <tr class="text-primary">
                <td>Analista</td>
                <td *ngFor="let data of datas">
                    {{data.dataString}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let analista of analistas">
                <td>{{analista.nome}}</td>
                <td *ngFor="let data of datas" (click)="onClickCell(data.data, analista)" class="text-center">
                    <div *ngFor="let agendamento of getAgendamentosDoDia(analista,data.data)" class="agendamento" (click)="onClickAgendamento(agendamento)">
                        {{getNomeCliente(agendamento)}}<br>
                        {{getHoraAgendamento(agendamento)}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
<ng-template #content let-modal>
    <div class="modal-header" style="background-color: #0099ff; color: #fff; max-height: 50px;">
        <h5 class="modal-title">Agendar</h5>
    </div>
    <div class="modal-body">
        <table>
            <tbody>
                <tr>
                    <td style="min-width: 150px; font-weight: bold">Analista</td>
                    <td><input name="analista" type="text" class="form-control" [(ngModel)]="analistaSelString" readonly="readonly"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Data</td>
                    <td style="width: 80%"><input name="data" type="text" class="form-control" [(ngModel)]="dataSelString" readonly="readonly"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Hora</td>
                    <td><input ngbAutofocus name="hora" type="time" class="form-control" [(ngModel)]="horaSelecionada"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Atendimento</td>
                    <td>
                        <select name="atendimento" class="form-control" [(ngModel)]="atendimentoSelecionado">
                            <option>Selecione</option>
                            <option *ngFor="let a of atendimentos" [ngValue]="a">{{a.id}} - {{a.assunto}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" style="width: 60px" class="btn btn-primary col-md-3" (click)="onSave(modal)">Salvar</button>
        <button type="button" style="width: 60px" class="btn btn-light col-md-3" (click)="onClose(modal)">Fechar</button>
    </div>
    
</ng-template>