<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/logo.png" width="120" class="d-inline-block align-top" alt="Tempus">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <ul>
        <li><a [routerLink]="['/dashboard']">Home</a></li>
        <li><a [routerLink]="['/users']">Usuários</a></li>
      </ul>
    </div>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>