<div class="list-group list-group-accent">

  <div
    class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
    <div class="row">
      <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10">
        <input type="search" class="form-control mr-sm-2" [(ngModel)]="listFilter" placeholder="Busque pelo assunto..." />
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <button class="btn btn-primary mr-3" [routerLink]="['/atendimentos/0/edicao']">
          <i class="fa fa-plus fa-lg"></i>
          Incluir
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="atendimentos && atendimentos.length">
    <div class="list-group-item"
      [ngClass]="{'list-group-item-accent-info': atendimento.assunto, 'list-group-item-accent-secondary': !atendimento.assunto}"
      *ngFor="let atendimento of filtered">
      <a [routerLink]="['/atendimentos', atendimento.id, 'edicao']" class="list-item">

        <div>
          <strong [ngClass]="{'text-muted': !atendimento.assunto}">N&uacute;mero: {{ ('000000' + atendimento.id).slice(-6) }} - {{atendimento.assunto}}</strong>
        </div>
        <p class="mb-0">
          <small class="text-muted">
            <strong>Solicitante: </strong> {{atendimento.usuario.nome}}
          </small>
        </p>        
        <p class="mb-0">
          <small class="text-muted">
            <strong>Descri&ccedil;&atilde;o:</strong> {{atendimento.descricao}}
          </small>
        </p>
        <p class="mb-0">
          <small class="text-muted mr-3">
            <strong>Data sugerida:</strong> {{atendimento.data_sugerida | date: 'dd/MM/yyyy'}}
          </small>
        </p>
       
      </a>
    </div>
  </div>

  <div *ngIf="!atendimentos.length">
    <div class="list-group-item list-group-item-accent-secondary text-center">
      Nenhum Atendimento cadastrado.
    </div>
  </div>

</div>