<div class="card">
  <div class="card-header">
    <small>{{title | uppercase}}</small>
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveAtendimento()" [formGroup]="atendimentoForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label">Usuario Solicitante</label>
        <div class="col-md-8">
          <select class="form-control" (change)="onChangeUser($event.target.value)">

            <option [ngValue]="undefined">Selecione...</option>
            <option *ngFor="let u of usuarios" [ngValue]="u"
              [selected]="atendimento.id > 0 && atendimento.usuario.id === u.id">
              {{u.nome}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="assuntoId">Assunto</label>
        <div class="col-md-8">
          <input class="form-control" id="assuntoId" type="text" formControlName="assunto"
            [ngClass]="{'is-invalid': displayMessage.nome }" />
          <span class="invalid-feedback">
            {{displayMessage.assunto}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="descricaoId">Descrição</label>
        <div class="col-md-8">
          <textarea class="form-control" rows="5" id="descricaoId" formControlName="descricao"
            [ngClass]="{'is-invalid': displayMessage.descricao }"></textarea>
          <span class="invalid-feedback">
            {{displayMessage.descricao}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="data_sugeridaId">Data Sugerida</label>
        <div class="col-md-8">
          <input class="form-control" id="data_sugeridaId" type="date" [ngModel]="data_sugerida | date:'yyyy-MM-dd'"
            (ngModelChange)="data_sugerida = $event" formControlName="data_sugerida"
            [ngClass]="{'is-invalid': displayMessage.data_sugerida }" />
          <span class="invalid-feedback">
            {{displayMessage.data_sugerida}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label">Habilidade Necessária</label>
        <div class="col-md-8">
          <select class="form-control" (change)="onChangeSkill($event.target.value)">
            <option [ngValue]="undefined">Selecione...</option>
            <option *ngFor="let h of habilidades" [ngValue]="h"
              [selected]="atendimento.id > 0 && atendimento.habilidade.id === h.id">
              {{h.nome}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2 mt-4">
        <div class="offset-md-2 col-md-8">
          <button class="btn btn-primary mr-3" type="submit"
            [title]="atendimentoForm.valid ? 'Salvar' : 'Preencha todos os campos obrigatórios'"
            [disabled]="!atendimentoForm.valid">
            Salvar
          </button>
          <button class="btn btn-secondary mr-3" type="button" title="Cancelar edições"
            [routerLink]="['/atendimentos']">
            Cancelar
          </button>
          <button class="btn text-danger float-right" type="button" (click)="deleteAtendimento()"
            *ngIf="atendimento.id > 0">
            <i class="fa fa-trash"></i>
            Remover
          </button>
        </div>
      </div>

    </form>
  </div>

</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>