<div class="list-group list-group-accent">

  <div
    class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
    <div class="row">
      <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10">
        <input type="search" class="form-control mr-sm-2" [(ngModel)]="listFilter" placeholder="Busque pelo nome..." />
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <button class="btn btn-primary mr-3" [routerLink]="['/usuarios/0/edicao']">
          <i class="fa fa-plus fa-lg"></i>
          Novo Usuário
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="users && users.length">
    <div class="list-group-item"
      [ngClass]="{'list-group-item-accent-info': user.status, 'list-group-item-accent-secondary': !user.status}"
      *ngFor="let user of filteredUsers">
      <a [routerLink]="['/usuarios', user.id, 'edicao']" class="list-item">
        <div class="avatar float-right">
          <img class="img-avatar" src="assets/img/avatars/user-{{user.nome.replace(' ', '-') | lowercase}}.jpg">
        </div>
        <div>
          {{user.perfil}}
          <strong [ngClass]="{'text-muted': !user.status}">{{user.nome}}</strong>
        </div>
        <p class="mb-0">
          <small class="text-muted">
            <i class="cui-envelope-letter icons"></i> {{user.email}}
          </small>
        </p>
        <p class="mb-0">
          <small class="text-muted mr-3">
            <i class="cui-location-pin icons"></i> {{user.endereco}}
          </small>
        </p>
        <p class="mb-0">
          <small class="text-muted mr-3">
            <i class="cui-star icons"></i> 32 habilidades
          </small>
        </p>
      </a>
    </div>
  </div>

  <div *ngIf="!users.length">
    <div class="list-group-item text-center"
      [ngClass]="{'list-group-item-accent-info': user.status, 'list-group-item-accent-secondary': !user.status}">
      Nenhum usuário cadastrado até o momento.
    </div>
  </div>

</div>