<div class="list-group list-group-accent">

  <div
    class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
    <div class="row">
      <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10">
        <input type="search" class="form-control mr-sm-2" [(ngModel)]="listFilter" placeholder="Busque pelo nome..." />
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <button class="btn btn-primary mr-3" [routerLink]="['/usuarios/0/edicao']">
          <i class="fa fa-plus fa-lg"></i>
          Incluir
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="users && users.length">
    <div class="list-group-item"
      [ngClass]="{'list-group-item-accent-info': user.status, 'list-group-item-accent-secondary': !user.status}"
      *ngFor="let user of filteredUsers">
      <a class="list-item">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <span class="text-primary">{{user.nome}}</span>
            <p class="mb-0">
              <small class="text-muted">
                <i class="fa fa-id-card-o"></i> {{getPerfilDesc(user.perfil)}}
              </small>
            </p>
          </div>
          <div class="col-md-4 col-lg-4">
            <p class="mb-0">
              <small class="text-muted">
                <i class="cui-envelope-letter icons"></i> {{user.email}}
              </small>
            </p>
            <p class="mb-0">
              <small class="text-muted mr-3">
                <i class="cui-location-pin icons"></i> {{user.endereco}}
              </small>
            </p>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="float-right">
              <button class="btn text-muted float-left" [routerLink]="['/usuarios', user.id, 'edicao']">
                <i class="fa fa-pencil fa-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="!users.length">
    <div class="list-group-item list-group-item-accent-secondary text-center">
      Nenhum usuário cadastrado.
    </div>
  </div>

</div>