<div class="card">
  <div class="card-header">
    <small>{{title | uppercase}}</small>
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveUser()" [formGroup]="userForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="userProfileId">Perfil</label>
        <div class="col-md-8">
          <select class="form-control" id="userProfileId" formControlName="perfil"
            (change)="onChangeUserProfile($event)" [ngClass]="{'is-invalid': displayMessage.perfil }">
            <option [ngValue]="null">Selecione...</option>
            <option *ngFor="let perfil of perfis" [ngValue]="perfil.id">
              {{perfil.descricao}}
            </option>
          </select>
          <span class="invalid-feedback">
            {{displayMessage.perfil}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2" *ngIf="!isClientSelected || !userForm.controls.perfil.value">
        <label class="col-md-2 col-form-label" for="userSuperiorId">Superior imediado</label>
        <div class="col-md-8">
          <select class="form-control" id="userSuperiorId" formControlName="id_coordenador"
            (change)="onChangeUserSuperior($event)">
            <option [ngValue]="null">Selecione...</option>
            <option *ngFor="let user of users" [ngValue]="user.id">
              {{user.nome}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="userNameId">Nome</label>
        <div class="col-md-8">
          <input class="form-control" id="userNameId" type="text" formControlName="nome"
            [ngClass]="{'is-invalid': displayMessage.nome }" />
          <span class="invalid-feedback">
            {{displayMessage.nome}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="userAddressId">Endereço</label>
        <div class="col-md-8">
          <input class="form-control" id="userAddressId" type="text" formControlName="endereco"
            [ngClass]="{'is-invalid': displayMessage.endereco }" />
          <span class="invalid-feedback">
            {{displayMessage.endereco}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="userEmailId">Email</label>
        <div class="col-md-8">
          <input class="form-control" id="userEmailId" type="email" formControlName="email"
            [ngClass]="{'is-invalid': displayMessage.email }" />
          <span class="invalid-feedback">
            {{displayMessage.email}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="userStatusId">Status</label>
        <div class="col-md-8">
          <input class="form-check-label" id="userStatusId" type="checkbox" formControlName="status"
            [ngClass]="{'is-invalid': displayMessage.status }" [checked]="status">
          <label class="form-check-label">Ativo</label>
          <span class="invalid-feedback">
            {{displayMessage.status}}
          </span>
        </div>
      </div>


      <span *ngIf="userForm.controls.perfil.value != 4">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="userCodeId">CPF</label>
          <div class="col-md-8">
            <input class="form-control" id="userCodeId" type="text" formControlName="cpf"
              [textMask]="{mask: cpfmask}" [ngClass]="{'is-invalid': displayMessage.cpf }" />
            <span class="invalid-feedback">
              {{displayMessage.cpf}}
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="userSenhaId">Senha</label>
          <div class="col-md-8">
            <show-hide-password size="default" btnStyle="default" [btnOutline]="true">
              <input type="password" class="form-control" id="userSenhaId" formControlName="senha"
                [ngClass]="{'is-invalid': displayMessage.senha }" />
            </show-hide-password>
            <span class="invalid-feedback">
              {{displayMessage.senha}}
            </span>
          </div>
        </div>

        <div class="form-group row mb-2" *ngIf="!isClientSelected || !userForm.controls.perfil.value">
          <label class="col-md-2 col-form-label">Habilidades</label>
          <div class="col-md-8">
            <select class="form-control" (change)="onChangeSkill($event.target.value)">
              <option [ngValue]="undefined" selected>Selecione...</option>
              <option *ngFor="let s of skills" [ngValue]="s">
                {{s.nome}}
              </option>
            </select>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" (click)="addSkill($event)">Adicionar</button>
          </div>
        </div>

        <div class="form-group row" *ngIf="!isClientSelected || !userForm.controls.perfil.value">
          <div class="col-md-10">
            <table class="table table-sm table-stripped table-bordered">
              <thead>
                <th>Habilidade</th>
                <th>N&iacute;vel</th>
              </thead>
              <tbody>
                <tr *ngFor="let us of userSkills">
                  <td>{{us.nome}}</td>
                  <td>
                    <pm-star [rating]=5 [userRating]="us.nivel" [idHabilidade]="us.id"
                      (ratingClicked)="onSelectNivel($event)"></pm-star>
                  </td>
                  <td style="width: 45px;"><button class="btn btn-danger" (click)="removeSkill(us.id)"
                      title="Remover">X</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </span>

      <span *ngIf="userForm.controls.perfil.value == 4">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="userCodeId">Nome responsável</label>
          <div class="col-md-8">
            <input class="form-control" id="userCodeId" type="text" formControlName="nomeResponsavel"
              [ngClass]="{'is-invalid': displayMessage.nomeResponsavel }" />
            <span class="invalid-feedback">
              {{displayMessage.nomeResponsavel}}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="razaoSocialId">Razao Social</label>
          <div class="col-md-8">
            <input class="form-control" id="razaoSocialId" type="text" formControlName="razaoSocial"
              [ngClass]="{'is-invalid': displayMessage.razaoSocial }" />
            <span class="invalid-feedback">
              {{displayMessage.razaoSocial}}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="userCodeId">CNPJ</label>
          <div class="col-md-8">
            <input class="form-control" id="userCodeId" type="text" formControlName="cnpj"
              [textMask]="{mask: cnpjmask}" [ngClass]="{'is-invalid': displayMessage.cnpj }" />
            <span class="invalid-feedback">
              {{displayMessage.cnpj}}
            </span>
          </div>
        </div>
      </span>

      <div class="form-group row mb-2 mt-4">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3" type="submit"
            [title]="userForm.valid ? 'Salvar' : 'Preencha todos os campos obrigatórios'" [disabled]="!userForm.valid">
            Salvar
          </button>
          <button class="btn btn-secondary mr-3" type="button" title="Cancelar edições" [routerLink]="['/usuarios']">
            Cancelar
          </button>
        </div>
      </div>

    </form>
  </div>

</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>