<div class="list-group list-group-accent">

  <div
    class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
    <div class="row">
      <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10">
        <input type="search" class="form-control mr-sm-2" [(ngModel)]="listFilter" placeholder="Busque pelo nome..." />
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <button class="btn btn-primary mr-3" [routerLink]="['/projetos/0/edicao']">
          <i class="fa fa-plus fa-lg"></i>
          Incluir
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="projetos && projetos.length">
    <div class="list-group-item"
      [ngClass]="{'list-group-item-accent-info': projeto.nome, 'list-group-item-accent-secondary': !projeto.nome}"
      *ngFor="let projeto of filteredProjetos">
      <a [routerLink]="['/projetos', projeto.id, 'edicao']" class="list-item text-muted">
        <div class="row">
          <div class="col-xs-6 col-sm-8 col-md-3 col-lg-3">
            <p class="mb-0">
              <span class="text-primary">{{ projeto.nome ? projeto.nome : 'Nome não informado' }}</span><br>
              <small class="text-muted">
                {{ projeto.descricao_atividades ? projeto.descricao_atividades : 'Descrição não informada' }}
              </small>
            </p>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-3 col-lg-3">
            <div class="row">
              <div class="col-2">
                <i class="fa fa-phone fa-2x" style="color: #ccc; position: relative; top: 8px;"></i>
              </div>
              <div class="col-10">
                <p class="mb-0">
                  <span>Vinculado ao atendimento</span><br>
                  <small class="text-muted">
                    {{ projeto.atendimento.assunto }}
                  </small>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-3 col-lg-3">
            <div class="row">
              <div class="col-2">
                <i class="fa fa-calendar-minus-o fa-2x" style="color: #ccc; position: relative; top: 8px;"></i>
              </div>
              <div class="col-10">
                <p class="mb-0">
                  <span>Horas estimadas</span><br>
                  <small class="text-muted">
                    {{ projeto.horas_estimadas ? projeto.horas_estimadas : 'Nenhuma hora estipulada' }}
                  </small>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-3 col-lg-3">
            <div class="row">
              <div class="col-2">
                <i class="fa fa-calendar-check-o fa-2x" style="color: #ccc; position: relative; top: 8px;"></i>
              </div>
              <div class="col-10">
                <p class="mb-0">
                  <span>Horas relizadas</span><br>
                  <small class="text-muted">
                    {{ projeto.horas_realizadas ? projeto.horas_realizadas : 'Nenhuma hora realizada' }}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="!projetos.length">
    <div class="list-group-item list-group-item-accent-secondary text-center">
      Nenhum Projeto cadastrado.
    </div>
  </div>

</div>