<div class="card">
  <div class="card-header">
    <small>{{title | uppercase}}</small>
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveOs()" [formGroup]="osForm">
      
      <div *ngIf="os.id === 0" class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="osAgendamentoId">Agendamento</label>
        <div class="col-md-8">
          <select class="form-control" id="osAgendamentoId" formControlName="agendamento_id"
            (change)="onChangeAgendamento($event.target.value)">
            <option [value]="null">Selecione...</option>
            <option *ngFor="let agendamento of agendamentos" [value]="agendamento.id"
              [selected]="os.id > 0 && agendamento.atendimento.id === os.agendamento.atendimento.id">
              Atendimento: {{agendamento.atendimento.id}} | Analista: {{agendamento.usuario.nome}} | Data: {{dateToText(agendamento.data_hora_agendamento) }} | Assunto: {{agendamento.atendimento.assunto}}
            </option>
          </select>
        </div>
      </div>
      
      <div *ngIf="os.id > 0" class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="data">Agendamento</label>
        <div class="col-md-8">
          <input class="form-control" type="text" [value]="os.agendamento.atendimento.assunto" readonly="readonly" formControlName="agendamento_id"/>
        </div>
      </div>
    
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="osStatusId">Status</label>
        <div class="col-md-8">
          <select class="form-control" id="osStatusId" formControlName="status"
            (change)="onChangeStatus($event.target.value)">
            <option [value]="null">Selecione...</option>
            <option *ngFor="let s of filtrarStatus(status)" [value]="s.descricao" [selected]="os.id && os.status === s.descricao">
              {{s.descricao}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="osDescricaoId">Descrição</label>
        <div class="col-md-8">
          <textarea rows="5" class="form-control" id="osDescricaoId" type="text" formControlName="descricao"
            [ngClass]="{'is-invalid': displayMessage.descricao }" ></textarea>
          <span class="invalid-feedback">
            {{displayMessage.descricao}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="data">Data</label>
        <div class="col-md-8">
          <input class="form-control" id="data" type="date"
            (change)="onChangeData($event.target.value)" formControlName="data" [readonly]="os.id !== 0"
            [ngClass]="{'is-invalid': displayMessage.data }" />
          <span class="invalid-feedback">
            {{displayMessage.data}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="horaInicioId">Hora Inicio</label>
        <div class="col-md-8">
          <input class="form-control" id="horaInicioId" type="time"
            (change)="onChangeHoraIni($event.target.value)" formControlName="hora_inicio"
            [ngClass]="{'is-invalid': displayMessage.hora_inicio }" />
          <span class="invalid-feedback">
            {{displayMessage.hora_inicio}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="horaFinalId">Hora Final</label>
        <div class="col-md-8">
          <input class="form-control" id="horaFinalId" type="time"
            (change)="onChangeHoraFim($event.target.value)" formControlName="hora_final"
            [ngClass]="{'is-invalid': displayMessage.hora_final }" />
          <span class="invalid-feedback">
            {{displayMessage.hora_final}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2 mt-4">
        <div class="offset-md-2 col-md-8">
          <button class="btn btn-primary mr-3" type="submit"
            [title]="osForm.valid ? 'Salvar' : 'Preencha todos os campos obrigatórios'" [disabled]="!osForm.valid">
            Salvar
          </button>
          <button class="btn btn-secondary mr-3" type="button" title="Cancelar edições" [routerLink]="['/os']">
            Cancelar
          </button>
          <!--
          <button class="btn text-danger float-right" type="button" (click)="deleteOs()" *ngIf="os.id">
            <i class="fa fa-trash"></i>
            Remover
          </button>
          -->
        </div>
      </div>

    </form>
  </div>

</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>