<div class="row">
  <div class="col">
    <h1 class="bd-title">{{title}}</h1>
  </div>
  <div class="col">
    <input type="search" class="form-control mr-sm-2" [(ngModel)]="listFilter" placeholder="Busque pelo nome..." />
  </div>
  <div class="col">
    <button class="btn btn-primary mr-3" [routerLink]="['/users/0/edit']">
      Novo Usuário
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="list-group" *ngIf="users && users.length">
      <a [routerLink]="['/users', user.id]" class="list-group-item list-group-item-action flex-column align-items-start"
        *ngFor="let user of filteredUsers">

        <div class="row">
          <div class="col">
            <small>{{ user.status ? 'Ativo' : 'Inativo' }}</small>
            <h5 class="mb-1">{{ user.nome }}</h5>
          </div>
          <div class="col">
            <small>Email</small>
            <p>{{ user.email }}</p>
          </div>
          <div class="col">
            <small>Endereço</small>
            <p>{{ user.endereco }}</p>
          </div>
          <div class="col">
            <small>CPF/CNPJ</small>
            <p>{{ user.cpf }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>